<a href="https://colab.research.google.com/github/BishalPaul/Bishal-Paul/blob/master/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import keras

Using TensorFlow backend.

In [ ]:
import pandas as pd
dataset=pd.read_csv('/content/drive/My Drive/Churn_Modelling.csv')
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
dataset.shape
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
z=dataset.iloc[:,3:13]
y=dataset.iloc[:,-1]

In [ ]:
gender=pd.get_dummies(z['Gender'],drop_first=True)
geography=pd.get_dummies(z['Geography'],drop_first=True)

In [ ]:
z=pd.concat([z,gender,geography],axis=1)
z.head()

   CreditScore Geography  Gender  Age  ...  EstimatedSalary  Male  Germany  Spain
0          619    France  Female   42  ...        101348.88     0        0      0
1          608     Spain  Female   41  ...        112542.58     0        0      1
2          502    France  Female   42  ...        113931.57     0        0      0
3          699    France  Female   39  ...         93826.63     0        0      0
4          850     Spain  Female   43  ...         79084.10     0        0      1

[5 rows x 13 columns]

In [ ]:
z=z.drop(['Geography','Gender'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
z_train,z_test,y_train,y_test=train_test_split(z,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(z_train)
x_test=sc.transform(z_test)

In [ ]:
from keras.layers import Dense, Dropout
from keras.models import Sequential

In [ ]:
classifier=Sequential()
classifier.add(Dense(units=6, activation='relu',kernel_initializer='he_uniform',input_dim=x_train.shape[1]))
classifier.add(Dense(units=6, activation='relu',kernel_initializer='he_uniform'))
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))
classifier.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])

In [16]:
model_history=classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10, epochs=100)

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 161us/step - loss: 0.3314 - accuracy: 0.8630 - val_loss: 0.3538 - val_accuracy: 0.8538
Epoch 2/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3314 - accuracy: 0.8632 - val_loss: 0.3536 - val_accuracy: 0.8542
Epoch 3/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3310 - accuracy: 0.8640 - val_loss: 0.3561 - val_accuracy: 0.8497
Epoch 4/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3315 - accuracy: 0.8628 - val_loss: 0.3539 - val_accuracy: 0.8523
Epoch 5/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3311 - accuracy: 0.8651 - val_loss: 0.3543 - val_accuracy: 0.8523
Epoch 6/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3309 - accuracy: 0.8625 - val_loss: 0.3543 - val_accuracy: 0.8542
Epoch 7/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3312 - accuracy: 0.8638 - val_loss: 0.3544 - val_accuracy: 0.8512
Epoch 8/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3309 - accuracy: 0.8638 - val_loss: 0.3543 - val_accuracy: 0.8557
Epoch 9/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3310 - accuracy: 0.8642 - val_loss: 0.3539 - val_accuracy: 0.8516
Epoch 10/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3308 - accuracy: 0.8640 - val_loss: 0.3538 - val_accuracy: 0.8523
Epoch 11/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3308 - accuracy: 0.8642 - val_loss: 0.3536 - val_accuracy: 0.8538
Epoch 12/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3309 - accuracy: 0.8636 - val_loss: 0.3543 - val_accuracy: 0.8535
Epoch 13/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3306 - accuracy: 0.8645 - val_loss: 0.3537 - val_accuracy: 0.8535
Epoch 14/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3302 - accuracy: 0.8627 - val_loss: 0.3540 - val_accuracy: 0.8542
Epoch 15/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3303 - accuracy: 0.8649 - val_loss: 0.3549 - val_accuracy: 0.8535
Epoch 16/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3306 - accuracy: 0.8632 - val_loss: 0.3540 - val_accuracy: 0.8527
Epoch 17/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3307 - accuracy: 0.8645 - val_loss: 0.3539 - val_accuracy: 0.8550
Epoch 18/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3303 - accuracy: 0.8638 - val_loss: 0.3529 - val_accuracy: 0.8557
Epoch 19/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3304 - accuracy: 0.8642 - val_loss: 0.3541 - val_accuracy: 0.8542
Epoch 20/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3302 - accuracy: 0.8640 - val_loss: 0.3536 - val_accuracy: 0.8565
Epoch 21/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.3303 - accuracy: 0.8643 - val_loss: 0.3534 - val_accuracy: 0.8569
Epoch 22/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3302 - accuracy: 0.8649 - val_loss: 0.3542 - val_accuracy: 0.8535
Epoch 23/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3303 - accuracy: 0.8653 - val_loss: 0.3540 - val_accuracy: 0.8546
Epoch 24/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3301 - accuracy: 0.8642 - val_loss: 0.3548 - val_accuracy: 0.8535
Epoch 25/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3302 - accuracy: 0.8640 - val_loss: 0.3541 - val_accuracy: 0.8546
Epoch 26/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3300 - accuracy: 0.8642 - val_loss: 0.3537 - val_accuracy: 0.8550
Epoch 27/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3301 - accuracy: 0.8647 - val_loss: 0.3537 - val_accuracy: 0.8561
Epoch 28/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3302 - accuracy: 0.8636 - val_loss: 0.3542 - val_accuracy: 0.8542
Epoch 29/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3302 - accuracy: 0.8642 - val_loss: 0.3550 - val_accuracy: 0.8542
Epoch 30/100
5359/5359 [==============================] - 1s 161us/step - loss: 0.3303 - accuracy: 0.8642 - val_loss: 0.3541 - val_accuracy: 0.8538
Epoch 31/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3300 - accuracy: 0.8638 - val_loss: 0.3540 - val_accuracy: 0.8561
Epoch 32/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3302 - accuracy: 0.8640 - val_loss: 0.3539 - val_accuracy: 0.8550
Epoch 33/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.3296 - accuracy: 0.8656 - val_loss: 0.3542 - val_accuracy: 0.8538
Epoch 34/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3299 - accuracy: 0.8649 - val_loss: 0.3545 - val_accuracy: 0.8542
Epoch 35/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3298 - accuracy: 0.8638 - val_loss: 0.3542 - val_accuracy: 0.8542
Epoch 36/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3299 - accuracy: 0.8647 - val_loss: 0.3540 - val_accuracy: 0.8542
Epoch 37/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3297 - accuracy: 0.8649 - val_loss: 0.3545 - val_accuracy: 0.8542
Epoch 38/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3298 - accuracy: 0.8647 - val_loss: 0.3548 - val_accuracy: 0.8535
Epoch 39/100
5359/5359 [==============================] - 1s 161us/step - loss: 0.3298 - accuracy: 0.8636 - val_loss: 0.3539 - val_accuracy: 0.8542
Epoch 40/100
5359/5359 [==============================] - 1s 161us/step - loss: 0.3291 - accuracy: 0.8656 - val_loss: 0.3541 - val_accuracy: 0.8550
Epoch 41/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3296 - accuracy: 0.8640 - val_loss: 0.3541 - val_accuracy: 0.8569
Epoch 42/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3297 - accuracy: 0.8653 - val_loss: 0.3546 - val_accuracy: 0.8542
Epoch 43/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3298 - accuracy: 0.8656 - val_loss: 0.3546 - val_accuracy: 0.8554
Epoch 44/100
5359/5359 [==============================] - 1s 161us/step - loss: 0.3298 - accuracy: 0.8642 - val_loss: 0.3548 - val_accuracy: 0.8546
Epoch 45/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3295 - accuracy: 0.8647 - val_loss: 0.3549 - val_accuracy: 0.8535
Epoch 46/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3297 - accuracy: 0.8634 - val_loss: 0.3545 - val_accuracy: 0.8550
Epoch 47/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3292 - accuracy: 0.8655 - val_loss: 0.3553 - val_accuracy: 0.8535
Epoch 48/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3290 - accuracy: 0.8664 - val_loss: 0.3545 - val_accuracy: 0.8554
Epoch 49/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3297 - accuracy: 0.8636 - val_loss: 0.3545 - val_accuracy: 0.8546
Epoch 50/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3297 - accuracy: 0.8664 - val_loss: 0.3541 - val_accuracy: 0.8565
Epoch 51/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3294 - accuracy: 0.8651 - val_loss: 0.3536 - val_accuracy: 0.8554
Epoch 52/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3290 - accuracy: 0.8643 - val_loss: 0.3542 - val_accuracy: 0.8554
Epoch 53/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3294 - accuracy: 0.8651 - val_loss: 0.3544 - val_accuracy: 0.8557
Epoch 54/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3289 - accuracy: 0.8658 - val_loss: 0.3565 - val_accuracy: 0.8531
Epoch 55/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3291 - accuracy: 0.8653 - val_loss: 0.3551 - val_accuracy: 0.8538
Epoch 56/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3293 - accuracy: 0.8651 - val_loss: 0.3542 - val_accuracy: 0.8561
Epoch 57/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3290 - accuracy: 0.8643 - val_loss: 0.3542 - val_accuracy: 0.8565
Epoch 58/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3286 - accuracy: 0.8647 - val_loss: 0.3542 - val_accuracy: 0.8546
Epoch 59/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3292 - accuracy: 0.8632 - val_loss: 0.3546 - val_accuracy: 0.8565
Epoch 60/100
5359/5359 [==============================] - 1s 209us/step - loss: 0.3290 - accuracy: 0.8640 - val_loss: 0.3545 - val_accuracy: 0.8550
Epoch 61/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3287 - accuracy: 0.8653 - val_loss: 0.3551 - val_accuracy: 0.8554
Epoch 62/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3290 - accuracy: 0.8662 - val_loss: 0.3554 - val_accuracy: 0.8569
Epoch 63/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3289 - accuracy: 0.8651 - val_loss: 0.3549 - val_accuracy: 0.8576
Epoch 64/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3287 - accuracy: 0.8643 - val_loss: 0.3555 - val_accuracy: 0.8561
Epoch 65/100
5359/5359 [==============================] - 1s 153us/step - loss: 0.3288 - accuracy: 0.8656 - val_loss: 0.3543 - val_accuracy: 0.8565
Epoch 66/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3284 - accuracy: 0.8653 - val_loss: 0.3541 - val_accuracy: 0.8569
Epoch 67/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3284 - accuracy: 0.8645 - val_loss: 0.3537 - val_accuracy: 0.8569
Epoch 68/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3287 - accuracy: 0.8666 - val_loss: 0.3542 - val_accuracy: 0.8569
Epoch 69/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3284 - accuracy: 0.8662 - val_loss: 0.3535 - val_accuracy: 0.8569
Epoch 70/100
5359/5359 [==============================] - 1s 158us/step - loss: 0.3284 - accuracy: 0.8668 - val_loss: 0.3534 - val_accuracy: 0.8576
Epoch 71/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3280 - accuracy: 0.8656 - val_loss: 0.3538 - val_accuracy: 0.8588
Epoch 72/100
5359/5359 [==============================] - 1s 159us/step - loss: 0.3283 - accuracy: 0.8649 - val_loss: 0.3537 - val_accuracy: 0.8584
Epoch 73/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3281 - accuracy: 0.8666 - val_loss: 0.3544 - val_accuracy: 0.8557
Epoch 74/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3283 - accuracy: 0.8656 - val_loss: 0.3540 - val_accuracy: 0.8591
Epoch 75/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3280 - accuracy: 0.8662 - val_loss: 0.3540 - val_accuracy: 0.8588
Epoch 76/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3279 - accuracy: 0.8651 - val_loss: 0.3555 - val_accuracy: 0.8561
Epoch 77/100
5359/5359 [==============================] - 1s 169us/step - loss: 0.3276 - accuracy: 0.8656 - val_loss: 0.3552 - val_accuracy: 0.8580
Epoch 78/100
5359/5359 [==============================] - 1s 173us/step - loss: 0.3276 - accuracy: 0.8656 - val_loss: 0.3549 - val_accuracy: 0.8573
Epoch 79/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3280 - accuracy: 0.8658 - val_loss: 0.3541 - val_accuracy: 0.8576
Epoch 80/100
5359/5359 [==============================] - 1s 177us/step - loss: 0.3277 - accuracy: 0.8655 - val_loss: 0.3542 - val_accuracy: 0.8576
Epoch 81/100
5359/5359 [==============================] - 1s 181us/step - loss: 0.3276 - accuracy: 0.8666 - val_loss: 0.3539 - val_accuracy: 0.8584
Epoch 82/100
5359/5359 [==============================] - 1s 172us/step - loss: 0.3277 - accuracy: 0.8670 - val_loss: 0.3541 - val_accuracy: 0.8569
Epoch 83/100
5359/5359 [==============================] - 1s 176us/step - loss: 0.3279 - accuracy: 0.8670 - val_loss: 0.3541 - val_accuracy: 0.8580
Epoch 84/100
5359/5359 [==============================] - 1s 178us/step - loss: 0.3276 - accuracy: 0.8675 - val_loss: 0.3551 - val_accuracy: 0.8569
Epoch 85/100
5359/5359 [==============================] - 1s 175us/step - loss: 0.3276 - accuracy: 0.8668 - val_loss: 0.3542 - val_accuracy: 0.8584
Epoch 86/100
5359/5359 [==============================] - 1s 174us/step - loss: 0.3274 - accuracy: 0.8664 - val_loss: 0.3536 - val_accuracy: 0.8599
Epoch 87/100
5359/5359 [==============================] - 1s 174us/step - loss: 0.3276 - accuracy: 0.8666 - val_loss: 0.3531 - val_accuracy: 0.8607
Epoch 88/100
5359/5359 [==============================] - 1s 162us/step - loss: 0.3274 - accuracy: 0.8660 - val_loss: 0.3546 - val_accuracy: 0.8573
Epoch 89/100
5359/5359 [==============================] - 1s 155us/step - loss: 0.3277 - accuracy: 0.8675 - val_loss: 0.3539 - val_accuracy: 0.8569
Epoch 90/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3275 - accuracy: 0.8656 - val_loss: 0.3537 - val_accuracy: 0.8599
Epoch 91/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3272 - accuracy: 0.8664 - val_loss: 0.3533 - val_accuracy: 0.8580
Epoch 92/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3271 - accuracy: 0.8649 - val_loss: 0.3545 - val_accuracy: 0.8580
Epoch 93/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3272 - accuracy: 0.8677 - val_loss: 0.3534 - val_accuracy: 0.8576
Epoch 94/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3272 - accuracy: 0.8651 - val_loss: 0.3537 - val_accuracy: 0.8576
Epoch 95/100
5359/5359 [==============================] - 1s 157us/step - loss: 0.3273 - accuracy: 0.8666 - val_loss: 0.3544 - val_accuracy: 0.8584
Epoch 96/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3273 - accuracy: 0.8649 - val_loss: 0.3537 - val_accuracy: 0.8591
Epoch 97/100
5359/5359 [==============================] - 1s 160us/step - loss: 0.3272 - accuracy: 0.8656 - val_loss: 0.3533 - val_accuracy: 0.8580
Epoch 98/100
5359/5359 [==============================] - 1s 149us/step - loss: 0.3270 - accuracy: 0.8675 - val_loss: 0.3538 - val_accuracy: 0.8591
Epoch 99/100
5359/5359 [==============================] - 1s 154us/step - loss: 0.3270 - accuracy: 0.8668 - val_loss: 0.3546 - val_accuracy: 0.8576
Epoch 100/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3272 - accuracy: 0.8673 - val_loss: 0.3541 - val_accuracy: 0.8580

In [20]:
y_pred=classifier.predict(x_test)
y_pred=(y_pred>0.5)

In [21]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_pred,y_test)
score=accuracy_score(y_pred,y_test)
print('Confusion Matrix:\n',cm)
print('Accuracy Score:',score)

Confusion Matrix:
 [[1519  204]
 [  76  201]]
Accuracy Score: 0.86